<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trail</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/trails">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
      <form action="/trails" method="get" class="navbar-form navbar-left" >
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Search Trails">
        </div>
        <input type="submit" value="search" class="btn btn-default">
      </form>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
              <% } else { %>
                  <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                  <li><a href="/logout">Logout</a></li>
              <% } %>
          </ul>
        </div>
    </div>
</nav>

<!--flash message -->
<div class="container">
  
  <% if(success && success.length > 0){ %>
<div class="alert alert-success" role="alert"><%=success%></div>
  <% } %>
  
 <% if(warning && warning.length > 0){%> 
<div class="alert alert-warning" role="alert"><%=warning%></div>
<% } %>

<% if(danger && danger.length > 0) { %>
<div class="alert alert-danger" role="alert"><%=danger%></div>

<% } %>
</div>